AUTHORITYPROMPT_API_URL=https://authorityprompt.com
AUTHORITYPROMPT_DEFAULT_DOMAIN=authorityprompt.com
AUTHORITYPROMPT_API_KEY=
AUTHORITYPROMPT_TIMEOUT_MS=10000
AUTHORITYPROMPT_CACHE_TTL_SECONDS=300
AUTHORITYPROMPT_LOG_LEVEL=info
